In [1]:
MyFirstList = [3, 45, 56, 732]

In [2]:
MyFirstList

[3, 45, 56, 732]

In [3]:
type(MyFirstList)

list

In [4]:
#Lists in Python can contain different data types
#That's why type of MyFirstList is list
#In R we can not do that
#That's why if we specify type of list/vector we get data type

In [5]:
l2 = ["hello", 24, True, 55.3]

In [6]:
l2

['hello', 24, True, 55.3]

In [7]:
type(l2)

list

In [8]:
l3 = ['how are you', 55, MyFirstList]

In [9]:
l3

['how are you', 55, [3, 45, 56, 732]]

In [10]:
#---

In [11]:
range(15) #Python 3 this is the same as xrange() in Python 2

range(0, 15)

In [13]:
x = [1,2,3,4,5,6,7]
x

[1, 2, 3, 4, 5, 6, 7]

In [14]:
y = list(range(8))
y

[0, 1, 2, 3, 4, 5, 6, 7]

In [15]:
z = list(range(1,8))

In [16]:
z

[1, 2, 3, 4, 5, 6, 7]

In [17]:
z2 = list(range(100,121))
z2

[100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120]

In [18]:
w = list(range(100,111,2))
w

[100, 102, 104, 106, 108, 110]

In [20]:
w2 = list(range(100,201,10))
w2

[100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200]

---

In [21]:
w = ['a','b','c','d','e']

In [22]:
w

['a', 'b', 'c', 'd', 'e']

In [23]:
w[0]

'a'

In [24]:
w[len(w)-1]

'e'

In [25]:
w[-1] #different behaviour to R 
#R would exclude the first element!

'e'

In [26]:
w[-3]

'c'

In [27]:
w[2]

'c'

In [28]:
#overwrite values:

In [29]:
w

['a', 'b', 'c', 'd', 'e']

In [30]:
w[2] = 63

In [31]:
w

['a', 'b', 63, 'd', 'e']